.main {
  width: 100%;
  color: #fff;
  max-width: 1440px;
}
.main__form-box {
  margin: 80px auto;
  max-width: 608px;
}
.main__title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  user-select: none;

}
.main__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 32px 0 88px 0;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .main__form-box {
     max-width: 448px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
     font-size: 36px;
     line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main__subtitle {
     margin: 16px 0 48px 0;
  }
}