.main {
  margin: 0 auto;
  width: 100%;
  color: #fff;
}
.main__content {
    margin: 80px auto;
    max-width: 608px;
}
.main__title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
}
.main__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 32px 0 88px 0;
}
