.saved-news__content {
  padding: 62px 7.2% 46px 7.2%;
  background-color: #f5f6f7;
}
.saved-news__cards {
  display: flex;
  gap: 1.4%;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .saved-news__cards {
    justify-content: center;
    gap: 8px;
    padding: 32px 39px;
  }
}
@media screen and (max-width: 600px) {
  .saved-news__cards {
    padding: 24px 16px 13px 16px;
    gap: 11px;
  }
}
