.preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #1a1b22;
  border-bottom-color: #d1d2d6;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  margin-bottom: 24px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
